<!-- templates/registration/password_reset_confirm.css -->
{% extends 'base.html' %} {% load static %} {% block content %}
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">Set a new password!</h1>
                <p class="text-white link-nav">
                    <a href="{% url 'accounts:login' %}">login </a>
                    <span class="lnr lnr-arrow-right"></span>
                    <a href="{% url 'accounts:password-reset' %}"> forgot password</a>
                </p>
            </div>
        </div>
    </div>
</section>

<body>

<div class="row d-flex justify-content-center">
    <div class="menu-content pb-70 col-lg-9">
        <div class="title text-center">
            <br>
            <form method="post" class="card">
                {% csrf_token %}
                <h3>Password Reset </h3>
                <br>

                {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <small>{{ field.errors|striptags }}</small>
                {% endif %}
                {% endfor %}


                <div>
                    <br>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                    <a href="{%url 'accounts:login' %}"
                       class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


