<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %} {% load static %} {% block content %}
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">Check your inbox</h1>
                <p class="text-white link-nav">
                    <a href="{% url 'accounts:login' %}">login </a>
                    <span class="lnr lnr-arrow-right"></span>
                    <a href="{% url 'accounts:password-reset' %}"> forgot password</a>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="row d-flex justify-content-center">
    <div class="menu-content pb-70 col-lg-9">
        <div class="title text-center">
            <br>
            <hr>
            <h1 class="mb-10">Check your inbox</h1>
            <p>
                We've emailed you instructions for setting your password. You should receive the email shortly...
            </p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}