{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>test</title>
</head>
<body>
<!--<form action="{% url 'website:test' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{posts}}-->
<!--<p>{{post.content}}</p>-->
<!--<p>{{family_name}}</p>-->
    <!--    {{form.as_p}}-->
    <!--    <input type="submit" value="Submit">-->
<!--<h4>test: {% say_hello %}</h4>-->
<!--<h3>{% function 12 14%}</h3>-->
<!--<p>{% count_total_posts as count %}</p>-->
<!--<p>{{count}}</p>-->
<!--<p>{% total_posts as posts %}</p>-->
<!--{% for post in posts %}-->
<!--{{post.content|snippets}}-->
<!--{% endfor %}-->
{% popular_post %}
</form>
</body>
</html>
