{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>test</title>
  </head>
  <body>
    <h1>Test page</h1>
    <p>test : {% say_hello %}</p>
    <p>test2 : {% function %}</p>
    <p>test3 : {% count_total_posts %}</p>
    <p>test4 : {% total_posts %}</p>
    <p>{% total_posts as posts %}</p>
    {% for post in posts %}
    <p>{{post.content|snippets}}</p>
    <p>{{post}}</p>
    {% endfor %}
    <p>test6:</p>
    {% popularpost %}
  </body>
</html>
